In [43]:
# importamos las librerías que necesitamos

# Tratamiento de datos
# -----------------------------------------------------------------------
import pandas as pd
import numpy as np


# Configuración
# -----------------------------------------------------------------------
pd.set_option('display.max_columns', None) # para poder visualizar todas las columnas de los DataFrames
pd.set_option('display.max_colwidth', None) # para visualizar todo el contenido de los valores
pd.set_option('display.max_rows', None) # Para visualizar todo el contenido de las filas

In [ ]:
# overtime mirar qué hacer con los nan

datos['overtime'].unique()

array(['No', nan, 'Yes'], dtype=object)

In [ ]:
datos['percentsalaryhike'].unique()

array([13, 14, 11, 19, 12, 25, 16, 17, 22, 23, 20, 15, 21, 24, 18],
      dtype=int64)

In [ ]:
#mirar que hacer con los nan y convertir a número porque es un objeto por las comas

suma = datos['performancerating'].value_counts()
print(suma)

performancerating = datos['performancerating'].str.replace(',0', '')


datos['performancerating'] = performancerating

datos['performancerating']

performancerating
3    1205
4     214
Name: count, dtype: int64

0         3
1         3
2         3
3         3
4         3
       ...
1609    NaN
1610      3
1611      3
1612    NaN
1613      3
Name: performancerating, Length: 1614, dtype: object

In [ ]:
# No hacemos cambios de momento

datos['relationshipsatisfaction'].unique()

array([3, 1, 4, 2], dtype=int64)

In [ ]:
#borramos standard hours porque no tiene sentido tiene muchos nan y 80h es imposible
datos.drop( columns = ['standardhours'], inplace= True)

In [ ]:
datos.columns

Index(['age', 'attrition', 'businesstravel', 'dailyrate', 'department',
       'distancefromhome', 'education', 'educationfield', 'employeenumber',
       'environmentsatisfaction', 'gender', 'hourlyrate', 'jobinvolvement',
       'joblevel', 'jobrole', 'jobsatisfaction', 'maritalstatus',
       'monthlyincome', 'monthlyrate', 'numcompaniesworked', 'overtime',
       'percentsalaryhike', 'performancerating', 'relationshipsatisfaction',
       'stockoptionlevel', 'totalworkingyears', 'trainingtimeslastyear',
       'worklifebalance', 'yearsatcompany', 'yearsincurrentrole',
       'yearssincelastpromotion', 'yearswithcurrmanager', 'datebirth',
       'remotework'],
      dtype='object')

In [ ]:
# No he hecho nada en esta columna parece estra bien
datos['stockoptionlevel'].unique()

array([0, 1, 2, 3], dtype=int64)

In [ ]:
# En cuanto gestionemos los nan cambiar a INT

datos['totalworkingyears'].unique()

totalworkingyears = datos['totalworkingyears'].str.replace(',0', '')


datos['totalworkingyears'] = totalworkingyears

datos['totalworkingyears']

0       NaN
1        34
2        22
3       NaN
4       NaN
       ...
1609    NaN
1610    NaN
1611      9
1612     12
1613    NaN
Name: totalworkingyears, Length: 1614, dtype: object

In [ ]:
# En cuanto gestionemos los nan cambiar a INT

datos['totalworkingyears'].unique()

array([nan, '34', '22', '28', '20', '21', '33', '40', '18', '25', '15',
       '17', '26', '16', '24', '14', '23', '27', '19', '11', '38', '37',
       '13', '12', '29', '10', '36', '35', '9', '31', '32', '8', '7',
       '30', '6', '5', '4', '3', '2', '1', '0'], dtype=object)

In [ ]:
# trainingtimeslastyear no hacer nada aparentemente toda la información es correcta

datos['trainingtimeslastyear'].unique()

array([5, 3, 2, 0, 1, 4, 6], dtype=int64)

In [ ]:
# Ver qué hacemos con los NaN y convertir a INT

datos['worklifebalance'].unique()

worklifebalance = datos['worklifebalance'].str.replace(',0', '')


datos['worklifebalance'] = worklifebalance

datos['worklifebalance']

0         3
1         3
2       NaN
3       NaN
4         3
       ...
1609      3
1610      2
1611      3
1612      3
1613      3
Name: worklifebalance, Length: 1614, dtype: object

In [ ]:
# todo aparenta estar correcto

datos['yearsatcompany'].unique()

array([20, 33, 22, 19, 21, 18, 24, 31, 26, 16, 23, 15, 17, 32, 14, 13, 25,
       12, 11, 37, 40, 36, 27, 29, 10,  9, 30,  8,  7, 34,  6,  5,  4,  2,
        3,  1,  0], dtype=int64)

In [ ]:
# Ver qué hacemos con los NaN y convertir a INT creo que esta la tendremos que borrar porque no hay casi datos

datos['yearsincurrentrole'].unique()

yearsincurrentrole = datos['yearsincurrentrole'].str.replace(',0', '')


datos['yearsincurrentrole'] = yearsincurrentrole

datos['yearsincurrentrole']

0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
       ...
1609    NaN
1610    NaN
1611    NaN
1612    NaN
1613    NaN
Name: yearsincurrentrole, Length: 1614, dtype: object

In [ ]:
datos['yearssincelastpromotion'].unique()




datos[['yearssincelastpromotion']]

      yearssincelastpromotion
0                          15
1                          11
2                          11
3                           5
4                           2
...                       ...
1609                        3
1610                        0
1611                        0
1612                        0
1613                        0

[1614 rows x 1 columns]

In [ ]:
# no tenemos que tocar nada

datos['yearswithcurrmanager'].unique()

array([15,  9,  6,  8,  7, 11, 10, 12,  4,  0,  5, 17,  2, 14,  1, 13,  3,
       16], dtype=int64)

In [ ]:
# esta ok

datos['datebirth'].unique()

array([1972, 1971, 1981, 1976, 1977, 1975, 1964, 1982, 1967, 1985, 1968,
       1983, 1965, 1988, 1978, 1990, 1987, 1989, 1970, 1980, 1963, 1991,
       1986, 1974, 1984, 1973, 1979, 1993, 1994, 1992, 1969, 1966, 1996,
       1995, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005],
      dtype=int64)

In [ ]:
#Tendremos que ver qué hacemos con los Nan

datos['remotework'].unique()

array(['Yes', '1', 'False', '0', 'True'], dtype=object)

In [ ]:
diccionario_mapa = {'Yes':'Yes', '1':'Yes', 'False':'No', '0':'No', 'True':'Yes'}

datos["remotework"] = datos["remotework"].map(diccionario_mapa)

datos['remotework'].unique()

array(['Yes', 'No'], dtype=object)

In [ ]:
datos.columns

Index(['age', 'attrition', 'businesstravel', 'dailyrate', 'department',
       'distancefromhome', 'education', 'educationfield', 'employeenumber',
       'environmentsatisfaction', 'gender', 'hourlyrate', 'jobinvolvement',
       'joblevel', 'jobrole', 'jobsatisfaction', 'maritalstatus',
       'monthlyincome', 'monthlyrate', 'numcompaniesworked', 'overtime',
       'percentsalaryhike', 'performancerating', 'relationshipsatisfaction',
       'stockoptionlevel', 'totalworkingyears', 'trainingtimeslastyear',
       'worklifebalance', 'yearsatcompany', 'yearsincurrentrole',
       'yearssincelastpromotion', 'yearswithcurrmanager', 'datebirth',
       'remotework'],
      dtype='object')

In [2]:
datos = pd.read_csv('Datos/datos_empresa.csv', index_col=0)
datos_limpios = pd.read_csv('Datos/datos_empresa_V1.csv', index_col=0)

In [3]:
#Creamos Dataframe de las columnas de los df a comparar

datos_col = pd.DataFrame(list(datos.columns), columns=['datos'])
datos_col
datos_limpio_col = pd.DataFrame(list(datos_limpios.columns), columns=['datos2'])
datos_limpio_col

                      datos2
0                        Age
1                  Attrition
2             BusinessTravel
3                  DailyRate
4                 Department
5           DistanceFromHome
6                  Education
7             EducationField
8             employeenumber
9    EnvironmentSatisfaction
10                    Gender
11                HourlyRate
12            JobInvolvement
13                  JobLevel
14                   JobRole
15           JobSatisfaction
16             MaritalStatus
17             MonthlyIncome
18               MonthlyRate
19        NUMCOMPANIESWORKED
20                  OverTime
21         PercentSalaryHike
22         PerformanceRating
23  RelationshipSatisfaction
24             StandardHours
25          StockOptionLevel
26         TOTALWORKINGYEARS
27     TrainingTimesLastYear
28           WORKLIFEBALANCE
29            YearsAtCompany
30        YearsInCurrentRole
31   YearsSinceLastPromotion
32      YEARSWITHCURRMANAGER
33                 DateBirth
34                RemoteWork

In [4]:
# mergeamos las columnas para saber si tenemos duplicados

df_merge = datos_col.merge(datos_limpio_col, left_on='datos', right_on='datos2', how = 'left')
df_merge

                       datos                    datos2
0                        Age                       Age
1                  Attrition                 Attrition
2             BusinessTravel            BusinessTravel
3                  DailyRate                 DailyRate
4                 Department                Department
5           DistanceFromHome          DistanceFromHome
6                  Education                 Education
7             EducationField            EducationField
8              employeecount                       NaN
9             employeenumber            employeenumber
10   EnvironmentSatisfaction   EnvironmentSatisfaction
11                    Gender                    Gender
12                HourlyRate                HourlyRate
13            JobInvolvement            JobInvolvement
14                  JobLevel                  JobLevel
15                   JobRole                   JobRole
16           JobSatisfaction           JobSatisfaction
17             MaritalStatus             MaritalStatus
18             MonthlyIncome             MonthlyIncome
19               MonthlyRate               MonthlyRate
20        NUMCOMPANIESWORKED        NUMCOMPANIESWORKED
21                    Over18                       NaN
22                  OverTime                  OverTime
23         PercentSalaryHike         PercentSalaryHike
24         PerformanceRating         PerformanceRating
25  RelationshipSatisfaction  RelationshipSatisfaction
26             StandardHours             StandardHours
27          StockOptionLevel          StockOptionLevel
28         TOTALWORKINGYEARS         TOTALWORKINGYEARS
29     TrainingTimesLastYear     TrainingTimesLastYear
30           WORKLIFEBALANCE           WORKLIFEBALANCE
31            YearsAtCompany            YearsAtCompany
32        YearsInCurrentRole        YearsInCurrentRole
33   YearsSinceLastPromotion   YearsSinceLastPromotion
34      YEARSWITHCURRMANAGER      YEARSWITHCURRMANAGER
35       SameAsMonthlyIncome                       NaN
36                 DateBirth                 DateBirth
37                    Salary                       NaN
38           RoleDepartament                       NaN
39            NUMBERCHILDREN                       NaN
40                RemoteWork                RemoteWork

In [5]:
#filtro para saber columnas que habíamos borrado

filtro = df_merge['datos2'].isna()
df_filtro = df_merge[filtro]

df_filtro

                  datos datos2
8         employeecount    NaN
21               Over18    NaN
35  SameAsMonthlyIncome    NaN
37               Salary    NaN
38      RoleDepartament    NaN
39       NUMBERCHILDREN    NaN

In [6]:
comparacion = df_merge['datos'] == df_merge['datos2']
comparacion

0      True
1      True
2      True
3      True
4      True
5      True
6      True
7      True
8     False
9      True
10     True
11     True
12     True
13     True
14     True
15     True
16     True
17     True
18     True
19     True
20     True
21    False
22     True
23     True
24     True
25     True
26     True
27     True
28     True
29     True
30     True
31     True
32     True
33     True
34     True
35    False
36     True
37    False
38    False
39    False
40     True
dtype: bool

In [7]:
#borramos columnas que no necesitamos

datos.drop( columns = ['employeecount','Over18','SameAsMonthlyIncome', 'Salary', 'RoleDepartament', 'NUMBERCHILDREN'], inplace= True)

In [8]:
# transformamos columnas para su mejor visulatización las convertimos todos a lower

new_columns = {column : column.lower() for column in datos}

new_columns

datos.rename(columns = new_columns, inplace= True)

datos.head()

,age,attrition,businesstravel,dailyrate,department,distancefromhome,education,educationfield,employeenumber,environmentsatisfaction,gender,hourlyrate,jobinvolvement,joblevel,jobrole,jobsatisfaction,maritalstatus,monthlyincome,monthlyrate,numcompaniesworked,overtime,percentsalaryhike,performancerating,relationshipsatisfaction,standardhours,stockoptionlevel,totalworkingyears,trainingtimeslastyear,worklifebalance,yearsatcompany,yearsincurrentrole,yearssincelastpromotion,yearswithcurrmanager,datebirth,remotework
0,51,No,NaN,"684,0$",NaN,6,3,NaN,"162,0",1,0,51,3,5,resEArch DIREcToR,3,NaN,"19537,0",6462,7,No,13,"3,0",3,NaN,0,NaN,5,"3,0",20,NaN,15,15,1972,Yes
1,52,No,NaN,"699,0$",NaN,1,4,Life Sciences,"259,0",3,0,65,2,5,ManAGeR,3,NaN,"19999,0",5678,0,NaN,14,"3,0",1,NaN,1,"34,0",5,"3,0",33,NaN,11,9,1971,1
2,42,No,travel_rarely,"532,0$",Research & Development,4,2,Technical Degree,"319,0",3,0,58,3,5,ManaGER,4,Married,"19232,0",4933,1,No,11,"3,0",4,NaN,0,"22,0",3,NaN,22,NaN,11,15,1981,1
3,47,No,travel_rarely,"359,0$",NaN,2,4,Medical,NaN,1,1,82,3,4,ReseArCH DIrECtOr,3,Married,"17169,0",26703,3,NaN,19,"3,0",2,NaN,2,NaN,2,NaN,20,NaN,5,6,1976,False
4,46,No,NaN,"1319,0$",NaN,3,3,Technical Degree,NaN,1,1,45,4,4,sAleS EXECUtIve,1,Divorced,NaN,7739,2,No,12,"3,0",4,NaN,1,NaN,5,"3,0",19,NaN,2,8,1977,0

In [9]:
# Transformamos columnas

In [10]:
datos['age'].unique()

age = datos['age'].str.replace('fifty-eight', '58 ').str.replace('fifty-eight', '47 ').str.replace('thirty-six', '36').str.replace('fifty-five', '55').str.replace('fifty-two', '52').str.replace('thirty-one', '31').str.replace('twenty-six', '36').str.replace('thirty-seven', '37').str.replace('thirty-seven', '37').str.replace('thirty-two', '32').str.replace('twenty-four', '24').str.replace('forty-seven', '47').str.replace('thirty', '30')

datos['age'] = age

datos['age'].unique()

array(['51', '52', '42', '47', '46', '48', '59', '41', '56', '38', '55',
       '40', '58', '35', '45', '33', '36', '34', '53', '43', '60', '32',
       '37', '49', '39', '50', '44', '30', '58 ', '29', '31', '54', '57',
       '27', '28', '26', '25', '24', '23', '22', '21', '20', '19', '18'],
      dtype=object)

In [11]:
datos['attrition'].unique()

array(['No', 'Yes'], dtype=object)

In [12]:
businesstravel = datos['businesstravel'].str.replace('_', ' ').str.replace('-', ' ').str.capitalize()

datos['businesstravel'] = businesstravel

datos['businesstravel'].unique()

array([nan, 'Travel rarely', 'Travel frequently', 'Non travel'],
      dtype=object)

In [13]:
# nos falta ver qué hacemos con los Nan y convertirlo en INT. Llego hasta numcompaniesworked

dailyrate = datos['dailyrate'].str.replace('$', '')


datos['dailyrate'] = dailyrate

datos['dailyrate'] 

datos['businesstravel'].unique()

array([nan, 'Travel rarely', 'Travel frequently', 'Non travel'],
      dtype=object)

In [14]:
# ver qué hacemos con los Nan

datos['department'].unique()

array([nan, ' Research & Development ', ' Sales ', ' Human Resources '],
      dtype=object)

In [38]:
# Hemos cambiado el tipo de int a str y elominado el menos de los negativos. Queda vovlerlo float.

datos_distance = datos['distancefromhome'].astype(str)

distancefromhome = datos_distance.str.replace('-', '')

datos['distancefromhome'] = distancefromhome

datos['distancefromhome'].unique()

array(['6', '1', '4', '2', '3', '22', '25', '9', '7', '23', '10', '12',
       '14', '13', '15', '8', '42', '28', '37', '5', '16', '35', '26',
       '24', '29', '17', '21', '18', '30', '27', '20', '31', '39', '11',
       '19', '33', '34', '46', '36', '45', '47', '32', '41', '49', '48',
       '38', '43', '40', '44'], dtype=object)

In [16]:
datos.head(1) # Llego hasta numcompaniesworked

,age,attrition,businesstravel,dailyrate,department,distancefromhome,education,educationfield,employeenumber,environmentsatisfaction,gender,hourlyrate,jobinvolvement,joblevel,jobrole,jobsatisfaction,maritalstatus,monthlyincome,monthlyrate,numcompaniesworked,overtime,percentsalaryhike,performancerating,relationshipsatisfaction,standardhours,stockoptionlevel,totalworkingyears,trainingtimeslastyear,worklifebalance,yearsatcompany,yearsincurrentrole,yearssincelastpromotion,yearswithcurrmanager,datebirth,remotework
0,51,No,NaN,"684,0",NaN,6,3,NaN,"162,0",1,0,51,3,5,resEArch DIREcToR,3,NaN,"19537,0",6462,7,No,13,"3,0",3,NaN,0,NaN,5,"3,0",20,NaN,15,15,1972,Yes

In [17]:
datos['education'].unique() # No hay que hacerle nada

array([3, 4, 2, 1, 5])

In [18]:
datos['educationfield'].unique() # ya está capitalizado. Nos falta ver que hacer con NaN

array([nan, 'Life Sciences', 'Technical Degree', 'Medical', 'Other',
       'Marketing', 'Human Resources'], dtype=object)

In [19]:
datos['employeenumber'].unique() # tiene NaN. Tiene duplicados

array(['162,0', '259,0', '319,0', ..., '2012,0', '2023,0', '2040,0'],
      dtype=object)

In [50]:
datos_duplicados = datos['employeenumber'][datos['employeenumber'].duplicated()].unique() # tomar la lista e iterar por ella para hacer la fusión. Documentar porque nos quedamos con los duplicados
datos_duplicados

array([nan, '1541,0', '1947,0', '1954,0', '307,0', '374,0', '524,0',
       '569,0', '1044,0', '1053,0', '1069,0', '1131,0', '1135,0',
       '1140,0', '1157,0', '1160,0', '1161,0', '1162,0', '1185,0',
       '1195,0', '1778,0', '1797,0', '1804,0', '1816,0', '1821,0',
       '1849,0', '1869,0', '1898,0', '1911,0', '1927,0', '423,0', '424,0',
       '433,0', '440,0', '447,0', '455,0', '460,0', '465,0', '470,0',
       '475,0', '478,0', '482,0', '495,0', '501,0', '502,0', '507,0',
       '517,0', '522,0', '523,0', '525,0', '526,0', '530,0', '544,0',
       '376,0', '381,0', '388,0', '389,0', '401,0', '416,0', '430,0',
       '438,0', '446,0', '448,0', '454,0', '458,0', '476,0', '483,0',
       '488,0', '500,0', '534,0', '586,0', '595,0', '608,0', '616,0',
       '621,0', '653,0', '663,0', '682,0', '710,0', '717,0', '721,0',
       '722,0', '724,0', '725,0', '728,0', '733,0', '734,0', '742,0',
       '747,0', '762,0', '783,0', '789,0', '793,0', '803,0', '809,0',
       '823,0', '842,0', '913,0', '927,0', '941,0', '956,0', '966,0',
       '967,0', '972,0', '990,0'], dtype=object)

In [51]:
datos['employeenumber'].duplicated().sum()

534

In [44]:
datos['employeenumber']

0        162,0
1        259,0
2        319,0
3          NaN
4          NaN
5       1900,0
6         81,0
7        387,0
8          NaN
9        999,0
10      1035,0
11         NaN
12         NaN
13        58,0
14         NaN
15       558,0
16       825,0
17         NaN
18         NaN
19         NaN
20      1712,0
21        73,0
22         NaN
23       820,0
24         NaN
25         NaN
26         NaN
27      1294,0
28         NaN
29      1774,0
30      1815,0
31      1993,0
32        32,0
33       100,0
34         NaN
35       244,0
36       327,0
37       373,0
38         NaN
39       729,0
40       830,0
41         NaN
42       981,0
43      1042,0
44      1080,0
45      1995,0
46       145,0
47       158,0
48       391,0
49       436,0
50         NaN
51      1527,0
52         NaN
53      1866,0
54      2026,0
55         NaN
56       107,0
57       170,0
58         NaN
59       215,0
60       304,0
61       529,0
62       691,0
63       692,0
64      1005,0
65      1024,0
66      1039,0
67      1225,0
68      1375,0
69         NaN
70         NaN
71         NaN
72      1661,0
73      1668,0
74      1698,0
75         NaN
76      1937,0
77      2017,0
78       117,0
79       131,0
80       153,0
81         NaN
82       307,0
83         NaN
84       374,0
85         NaN
86         NaN
87         NaN
88         NaN
89       524,0
90       569,0
91       899,0
92         NaN
93      1014,0
94         NaN
95      1117,0
96      1238,0
97         NaN
98      1277,0
99         NaN
100     1541,0
101     1666,0
102     1696,0
103     1805,0
104        NaN
105     1932,0
106     2016,0
107       20,0
108        NaN
109      184,0
110      206,0
111      228,0
112      239,0
113      256,0
114        NaN
115      339,0
116      406,0
117        NaN
118      429,0
119        NaN
120      444,0
121      452,0
122      456,0
123        NaN
124      481,0
125      513,0
126      597,0
127      600,0
128        NaN
129      630,0
130      638,0
131      683,0
132      780,0
133      817,0
134      901,0
135      944,0
136      984,0
137     1088,0
138     1124,0
139        NaN
140     1167,0
141     1184,0
142        NaN
143        NaN
144     1252,0
145     1267,0
146     1278,0
147     1288,0
148        NaN
149     1307,0
150     1336,0
151     1352,0
152     1360,0
153        NaN
154     1419,0
155     1478,0
156     1480,0
157        NaN
158     1489,0
159     1520,0
160     1535,0
161     1586,0
162     1596,0
163     1667,0
164     1701,0
165     1706,0
166        NaN
167        NaN
168     1971,0
169        NaN
170     1976,0
171     1985,0
172     2032,0
173     2056,0
174        NaN
175        NaN
176       57,0
177        NaN
178       78,0
179      104,0
180      118,0
181      121,0
182      125,0
183        NaN
184      207,0
185      227,0
186      253,0
187      264,0
188      291,0
189      292,0
190      306,0
191        NaN
192      335,0
193        NaN
194      420,0
195      421,0
196      441,0
197      531,0
198      549,0
199      567,0
200      581,0
201      702,0
202      716,0
203      772,0
204      836,0
205      840,0
206      844,0
207        NaN
208      867,0
209      889,0
210      924,0
211        NaN
212        NaN
213      976,0
214      992,0
215     1002,0
216     1073,0
217     1138,0
218        NaN
219     1192,0
220     1196,0
221        NaN
222        NaN
223     1315,0
224     1324,0
225     1334,0
226     1346,0
227     1356,0
228     1423,0
229     1459,0
230        NaN
231     1472,0
232     1485,0
233        NaN
234     1543,0
235     1547,0
236     1553,0
237     1562,0
238     1582,0
239     1606,0
240        NaN
241     1658,0
242     1665,0
243        NaN
244     1737,0
245        NaN
246        NaN
247     1790,0
248        NaN
249     1823,0
250        NaN
251     1857,0
252     1864,0
253     1881,0
254     1888,0
255     1950,0
256        NaN
257     1962,0
258     1975,0
259     1986,0
260        NaN
261     2000,0
262        NaN
263        2,0
264        5,0
265        NaN
266        NaN
267        NaN
268       35,0
269       76,0
270       98,0
271      120,0
272      147,0
273      154,0
274      159,0
275      160,0
276      163,0
277      176,0
278      177,0
279      195,0
280      202,0
281      205,0
282        NaN
283        NaN
284      252,0
285      258,0
286      260,0
287      267,0
288        NaN
289      275,0
290      293,0
291      302,0
292      314,0
293        NaN
294      329,0
295        NaN
296      361,0
297      363,0
298        NaN
299      376,0
300      381,0
301      388,0
302      389,0
303      401,0
304      416,0
305      430,0
306      438,0
307        NaN
308      446,0
309      448,0
310      454,0
311      458,0
312        NaN
313        NaN
314      476,0
315      483,0
316      488,0
317      500,0
318        NaN
319        NaN
320      534,0
321        NaN
322        NaN
323      586,0
324      595,0
325        NaN
326      608,0
327      616,0
328      621,0
329      653,0
330      663,0
331      682,0
332        NaN
333        NaN
334        NaN
335      710,0
336      717,0
337      721,0
338      722,0
339      724,0
340      725,0
341        NaN
342      728,0
343      733,0
344      734,0
345        NaN
346      742,0
347      747,0
348      762,0
349      783,0
350      789,0
351      793,0
352      803,0
353        NaN
354      809,0
355      823,0
356        NaN
357      842,0
358        NaN
359        NaN
360      913,0
361      927,0
362      941,0
363      956,0
364        NaN
365      966,0
366      967,0
367      972,0
368        NaN
369      990,0
370        NaN
371     1013,0
372     1015,0
373     1018,0
374     1034,0
375        NaN
376     1046,0
377     1050,0
378        NaN
379     1074,0
380     1082,0
381     1097,0
382     1100,0
383     1101,0
384     1106,0
385     1119,0
386        NaN
387     1126,0
388        NaN
389     1128,0
390        NaN
391        NaN
392     1177,0
393     1182,0
394     1201,0
395     1218,0
396     1220,0
397        NaN
398     1224,0
399        NaN
400     1235,0
401     1237,0
402        NaN
403     1255,0
404     1264,0
405     1283,0
406     1293,0
407     1295,0
408        NaN
409        NaN
410        NaN
411        NaN
412     1322,0
413     1344,0
414     1355,0
415     1362,0
416     1369,0
417        NaN
418     1377,0
419     1402,0
420     1408,0
421     1417,0
422     1421,0
423     1422,0
424     1424,0
425        NaN
426        NaN
427     1457,0
428     1460,0
429     1484,0
430     1497,0
431     1522,0
432     1544,0
433        NaN
434        NaN
435     1572,0
436     1608,0
437     1611,0
438     1612,0
439     1615,0
440        NaN
441     1619,0
442     1635,0
443     1642,0
444     1653,0
445        NaN
446     1691,0
447     1693,0
448     1703,0
449        NaN
450     1727,0
451     1728,0
452     1745,0
453     1754,0
454     1756,0
455     1764,0
456     1778,0
457        NaN
458     1797,0
459     1804,0
460     1816,0
461     1821,0
462        NaN
463     1849,0
464     1869,0
465        NaN
466     1898,0
467     1911,0
468        NaN
469     1927,0
470     1934,0
471     1951,0
472     1952,0
473     1965,0
474     1967,0
475        NaN
476     1979,0
477     2008,0
478     2009,0
479     2014,0
480        NaN
481     2034,0
482     2035,0
483        NaN
484     2062,0
485       28,0
486        NaN
487       62,0
488      199,0
489      343,0
490      351,0
491      428,0
492      464,0
493        NaN
494        NaN
495      731,0
496      764,0
497        NaN
498      851,0
499      903,0
500      905,0
501      942,0
502     1026,0
503        NaN
504     1085,0
505        NaN
506     1109,0
507     1118,0
508     1152,0
509        NaN
510     1350,0
511     1514,0
512     1523,0
513     1539,0
514        NaN
515     1588,0
516     1617,0
517     1719,0
518        NaN
519     1870,0
520     2031,0
521     2065,0
522       15,0
523       60,0
524        NaN
525       85,0
526        NaN
527      346,0
528      384,0
529      498,0
530      551,0
531      604,0
532        NaN
533      626,0
534        NaN
535        NaN
536      644,0
537      649,0
538      714,0
539      781,0
540        NaN
541      804,0
542        NaN
543      856,0
544      998,0
545     1120,0
546     1143,0
547        NaN
548        NaN
549        NaN
550     1251,0
551        NaN
552     1438,0
553        NaN
554     1574,0
555     1671,0
556        NaN
557        NaN
558        NaN
559        NaN
560       94,0
561        NaN
562        NaN
563      112,0
564      129,0
565      142,0
566      161,0
567      164,0
568      190,0
569      194,0
570      226,0
571      231,0
572      240,0
573      262,0
574      283,0
575      308,0
576      325,0
577      355,0
578      378,0
579        NaN
580        NaN
581        NaN
582      449,0
583      466,0
584      486,0
585      492,0
586      505,0
587      510,0
588        NaN
589      527,0
590        NaN
591        NaN
592      547,0
593      548,0
594      577,0
595        NaN
596        NaN
597        NaN
598      679,0
599      785,0
600      861,0
601      864,0
602      878,0
603      895,0
604      900,0
605        NaN
606      936,0
607        NaN
608      997,0
609     1048,0
610        NaN
611     1071,0
612     1116,0
613     1132,0
614        NaN
615     1171,0
616     1200,0
617     1202,0
618        NaN
619     1245,0
620     1280,0
621        NaN
622     1309,0
623        NaN
624     1374,0
625     1390,0
626        NaN
627     1395,0
628     1397,0
629     1409,0
630     1425,0
631     1435,0
632     1445,0
633        NaN
634     1469,0
635        NaN
636     1503,0
637     1534,0
638     1546,0
639     1548,0
640        NaN
641     1598,0
642     1599,0
643     1609,0
644     1638,0
645     1640,0
646        NaN
647     1664,0
648     1684,0
649     1704,0
650     1736,0
651     1782,0
652     1826,0
653        NaN
654     1850,0
655     1909,0
656     1924,0
657     1941,0
658     1949,0
659        NaN
660        NaN
661        NaN
662       27,0
663       46,0
664       52,0
665       68,0
666       79,0
667       80,0
668       91,0
669      119,0
670      126,0
671        NaN
672      148,0
673      150,0
674        NaN
675      198,0
676      216,0
677        NaN
678      230,0
679        NaN
680      270,0
681      277,0
682      299,0
683      315,0
684      330,0
685      369,0
686      386,0
687      390,0
688        NaN
689      412,0
690      422,0
691      434,0
692      450,0
693        NaN
694      469,0
695      491,0
696      554,0
697        NaN
698      579,0
699        NaN
700      592,0
701      599,0
702        NaN
703      641,0
704        NaN
705      655,0
706      667,0
707        NaN
708      758,0
709      760,0
710      791,0
711      796,0
712      799,0
713        NaN
714      815,0
715      827,0
716        NaN
717        NaN
718      865,0
719        NaN
720      894,0
721        NaN
722        NaN
723      983,0
724      996,0
725     1011,0
726     1019,0
727     1032,0
728     1045,0
729     1049,0
730        NaN
731     1068,0
732        NaN
733     1136,0
734        NaN
735     1179,0
736     1188,0
737     1211,0
738     1228,0
739     1231,0
740        NaN
741     1259,0
742     1338,0
743     1349,0
744     1387,0
745     1401,0
746     1407,0
747     1420,0
748     1431,0
749     1446,0
750     1477,0
751     1487,0
752     1499,0
753     1533,0
754     1545,0
755     1554,0
756     1563,0
757     1622,0
758     1631,0
759     1646,0
760     1659,0
761        NaN
762     1689,0
763     1700,0
764        NaN
765        NaN
766     1739,0
767     1768,0
768     1772,0
769     1792,0
770        NaN
771     1800,0
772        NaN
773        NaN
774     1822,0
775        NaN
776     1854,0
777     1882,0
778     1885,0
779     1931,0
780     1945,0
781     1947,0
782     1954,0
783     1969,0
784     1981,0
785     1997,0
786     1998,0
787     1999,0
788     2018,0
789        NaN
790     2044,0
791        NaN
792     2046,0
793        NaN
794     2052,0
795     2053,0
796     2068,0
797        7,0
798       16,0
799       18,0
800       19,0
801       21,0
802       24,0
803       26,0
804       31,0
805       33,0
806       38,0
807       40,0
808       47,0
809       49,0
810       65,0
811       72,0
812        NaN
813       88,0
814      102,0
815      103,0
816      110,0
817      116,0
818      128,0
819      132,0
820      133,0
821        NaN
822      143,0
823      171,0
824        NaN
825      175,0
826      178,0
827      179,0
828        NaN
829      193,0
830      197,0
831        NaN
832      218,0
833      221,0
834      233,0
835      241,0
836      245,0
837      246,0
838      247,0
839      249,0
840      250,0
841      269,0
842        NaN
843        NaN
844        NaN
845      287,0
846      288,0
847      297,0
848        NaN
849      303,0
850      305,0
851      316,0
852        NaN
853        NaN
854      332,0
855        NaN
856      337,0
857      338,0
858      341,0
859      347,0
860      349,0
861      350,0
862      362,0
863        NaN
864      379,0
865      380,0
866      393,0
867      394,0
868      396,0
869        NaN
870      403,0
871      423,0
872      424,0
873        NaN
874      433,0
875      440,0
876      447,0
877      455,0
878      460,0
879      465,0
880      470,0
881      475,0
882      478,0
883      482,0
884        NaN
885        NaN
886      495,0
887        NaN
888        NaN
889      501,0
890      502,0
891      507,0
892      517,0
893      522,0
894      523,0
895      525,0
896      526,0
897      530,0
898        NaN
899      544,0
900        NaN
901      555,0
902        NaN
903      564,0
904        NaN
905        NaN
906      580,0
907      585,0
908        NaN
909      591,0
910      593,0
911      611,0
912      624,0
913      631,0
914      632,0
915      652,0
916      659,0
917      664,0
918      665,0
919      666,0
920        NaN
921      671,0
922      675,0
923      686,0
924      699,0
925        NaN
926      705,0
927      707,0
928      712,0
929        NaN
930      732,0
931      738,0
932      744,0
933      746,0
934      752,0
935      754,0
936        NaN
937        NaN
938      769,0
939        NaN
940        NaN
941      792,0
942      797,0
943      800,0
944        NaN
945      806,0
946        NaN
947      813,0
948      819,0
949        NaN
950        NaN
951        NaN
952      838,0
953      847,0
954      852,0
955      859,0
956        NaN
957      872,0
958      874,0
959      881,0
960      885,0
961        NaN
962      888,0
963      893,0
964      896,0
965      902,0
966      916,0
967      922,0
968      925,0
969        NaN
970      930,0
971        NaN
972      939,0
973        NaN
974      975,0
975      991,0
976      995,0
977     1001,0
978        NaN
979        NaN
980     1010,0
981     1017,0
982     1022,0
983        NaN
984     1027,0
985     1028,0
986     1037,0
987     1044,0
988     1053,0
989        NaN
990     1069,0
991     1077,0
992     1084,0
993     1094,0
994     1096,0
995     1099,0
996     1102,0
997     1103,0
998     1108,0
999     1114,0
1000    1131,0
1001    1135,0
1002       NaN
1003    1140,0
1004    1157,0
1005    1160,0
1006    1161,0
1007    1162,0
1008    1185,0
1009       NaN
1010    1195,0
1011       NaN
1012       NaN
1013    1217,0
1014    1234,0
1015       NaN
1016       NaN
1017       NaN
1018       NaN
1019    1286,0
1020    1291,0
1021       NaN
1022    1301,0
1023    1303,0
1024    1308,0
1025       NaN
1026    1311,0
1027    1317,0
1028    1329,0
1029    1331,0
1030    1333,0
1031       NaN
1032    1358,0
1033    1361,0
1034       NaN
1035    1371,0
1036    1380,0
1037       NaN
1038    1389,0
1039       NaN
1040    1392,0
1041    1396,0
1042       NaN
1043    1403,0
1044    1405,0
1045    1411,0
1046    1412,0
1047    1415,0
1048    1428,0
1049       NaN
1050    1436,0
1051    1439,0
1052    1441,0
1053    1448,0
1054       NaN
1055    1464,0
1056    1466,0
1057    1467,0
1058    1471,0
1059    1473,0
1060    1475,0
1061    1486,0
1062       NaN
1063       NaN
1064    1507,0
1065    1509,0
1066    1513,0
1067    1516,0
1068    1537,0
1069    1552,0
1070       NaN
1071    1560,0
1072    1568,0
1073    1573,0
1074    1576,0
1075    1580,0
1076    1583,0
1077    1587,0
1078    1592,0
1079    1594,0
1080    1597,0
1081       NaN
1082    1607,0
1083       NaN
1084       NaN
1085    1623,0
1086       NaN
1087       NaN
1088    1641,0
1089    1644,0
1090    1645,0
1091    1647,0
1092    1648,0
1093       NaN
1094       NaN
1095    1651,0
1096    1655,0
1097    1657,0
1098    1662,0
1099    1670,0
1100    1674,0
1101       NaN
1102       NaN
1103    1682,0
1104    1683,0
1105    1694,0
1106    1702,0
1107       NaN
1108       NaN
1109    1721,0
1110    1722,0
1111       NaN
1112    1733,0
1113    1735,0
1114    1746,0
1115       NaN
1116       NaN
1117    1751,0
1118       NaN
1119    1753,0
1120       NaN
1121       NaN
1122       NaN
1123    1787,0
1124    1801,0
1125    1813,0
1126    1814,0
1127    1833,0
1128    1834,0
1129    1835,0
1130    1837,0
1131    1844,0
1132    1856,0
1133    1858,0
1134       NaN
1135       NaN
1136    1873,0
1137    1883,0
1138    1886,0
1139    1905,0
1140    1907,0
1141    1908,0
1142       NaN
1143       NaN
1144       NaN
1145    1922,0
1146    1929,0
1147       NaN
1148    1948,0
1149       NaN
1150    1972,0
1151    1980,0
1152    1982,0
1153    1992,0
1154    1996,0
1155    2003,0
1156    2007,0
1157    2010,0
1158       NaN
1159       NaN
1160       NaN
1161    2027,0
1162    2038,0
1163    2048,0
1164       NaN
1165    2055,0
1166    2060,0
1167    2061,0
1168    2064,0
1169      39,0
1170      51,0
1171      95,0
1172     169,0
1173     224,0
1174     242,0
1175     286,0
1176     340,0
1177       NaN
1178       NaN
1179     431,0
1180     496,0
1181     511,0
1182     612,0
1183     650,0
1184     684,0
1185     730,0
1186     757,0
1187       NaN
1188     869,0
1189     875,0
1190       NaN
1191     964,0
1192     970,0
1193       NaN
1194    1006,0
1195       NaN
1196    1055,0
1197    1061,0
1198    1107,0
1199       NaN
1200       NaN
1201    1180,0
1202    1193,0
1203    1226,0
1204       NaN
1205       NaN
1206    1254,0
1207    1321,0
1208    1465,0
1209       NaN
1210    1479,0
1211    1551,0
1212    1555,0
1213    1604,0
1214    1757,0
1215    1760,0
1216    1789,0
1217    1807,0
1218    1812,0
1219    1818,0
1220    1830,0
1221    1890,0
1222    1939,0
1223       NaN
1224       NaN
1225    1994,0
1226       4,0
1227      10,0
1228       NaN
1229       NaN
1230      30,0
1231      41,0
1232      42,0
1233       NaN
1234      53,0
1235      54,0
1236      55,0
1237       NaN
1238       NaN
1239      64,0
1240      70,0
1241      84,0
1242       NaN
1243       NaN
1244      97,0
1245       NaN
1246     106,0
1247     113,0
1248       NaN
1249     137,0
1250     139,0
1251     144,0
1252       NaN
1253     155,0
1254     167,0
1255     200,0
1256     201,0
1257     211,0
1258     214,0
1259       NaN
1260     243,0
1261       NaN
1262     271,0
1263     282,0
1264       NaN
1265     309,0
1266     323,0
1267     334,0
1268       NaN
1269     342,0
1270       NaN
1271     364,0
1272       NaN
1273     367,0
1274       NaN
1275     392,0
1276     397,0
1277       NaN
1278     407,0
1279       NaN
1280     445,0
1281       NaN
1282       NaN
1283     468,0
1284     471,0
1285     473,0
1286     477,0
1287     479,0
1288     485,0
1289     487,0
1290     494,0
1291     508,0
1292     514,0
1293     518,0
1294       NaN
1295       NaN
1296     556,0
1297     566,0
1298     568,0
1299       NaN
1300       NaN
1301       NaN
1302     614,0
1303     615,0
1304       NaN
1305     622,0
1306       NaN
1307     643,0
1308     648,0
1309     656,0
1310     657,0
1311     661,0
1312     662,0
1313       NaN
1314       NaN
1315     690,0
1316     701,0
1317     704,0
1318     715,0
1319     743,0
1320     749,0
1321       NaN
1322     773,0
1323     775,0
1324     811,0
1325     812,0
1326     816,0
1327     832,0
1328     833,0
1329     834,0
1330       NaN
1331       NaN
1332       NaN

In [20]:
datos['environmentsatisfaction'].unique()

array([ 1,  3,  4,  2, 42, 37, 35, 25, 27, 31, 39, 21, 15, 14, 33, 19, 12,
       13, 28, 47, 36, 29, 24, 46, 16, 22, 41, 49, 11, 48, 18, 10, 45, 38,
       17, 20, 26, 43])

In [21]:
datos['gender'].unique() # ¿queremos cambiar los 0 y uno por las iniciales del genero?

array([0, 1])

In [22]:
datos['hourlyrate'].unique() # pasar a int y antes cambiar el Not Avaiable a NaN

array(['51', '65', '58', '82', '45', '99', '91', '64', '55', '68', '49',
       '61', '79', '31', '69', '48', '80', '74', '98', '59', '33', '56',
       '66', '57', '53', '87', '81', '84', '32', '41', '92', '47',
       'Not Available', '43', '86', '30', '42', '88', '96', '67', '62',
       '72', '78', '89', '52', '50', '90', '37', '94', '76', '60', '46',
       '83', '100', '40', '97', '54', '75', '39', '85', '63', '44', '93',
       '36', '35', '73', '71', '70', '38', '77', '95', '34'], dtype=object)

In [23]:
datos['jobinvolvement'].unique() # no tocar

array([3, 2, 4, 1])

In [24]:
datos['joblevel'].unique() # no tocar

array([5, 4, 3, 2, 1])

In [25]:
# Todo pasado a minusculas, dejando la primera en mayusculas y eliminando los espacios que habia al inicio y final
datos['jobrole'] = datos['jobrole'].str.lower().str.title().str.strip()
datos['jobrole'].unique()

array(['Research Director', 'Manager', 'Sales Executive',
       'Manufacturing Director', 'Research Scientist',
       'Healthcare Representative', 'Laboratory Technician',
       'Sales Representative', 'Human Resources'], dtype=object)

In [26]:
datos['jobsatisfaction'].unique() # no tocar

array([3, 4, 1, 2])

In [27]:
# Sustituyo los que están mal escritos para que sean iguales a los que si creando un diccionario previamente.
replacements = {
    'divorced': 'Divorced',
    'Marreid': 'Married'
}

datos['maritalstatus'] = datos['maritalstatus'].replace(replacements)
datos['maritalstatus'].unique()

array([nan, 'Married', 'Divorced', 'Single'], dtype=object)

In [28]:
datos['monthlyincome'].unique() # Tiene nan, hay que cambiarlo a NaN y pasarlo a float

array(['19537,0', '19999,0', '19232,0', '17169,0', nan, '17174,0',
       '16595,0', '19973,0', '13402,0', '13206,0', '19545,0', '18041,0',
       '19246,0', '10748,0', '16752,0', '6201,0', '19845,0', '4001,0',
       '10447,0', '16064,0', '3210,0', '10266,0', '10475,0', '6162,0',
       '4721,0', '4615,0', '16959,0', '10306,0', '5406,0', '5902,0',
       '10855,0', '5914,0', '6646,0', '13973,0', '13320,0', '6687,0',
       '4735,0', '13872,0', '19045,0', '16015,0', '9613,0', '11510,0',
       '4306,0', '17046,0', '5067,0', '3692,0', '19847,0', '2308,0',
       '5747,0', '10422,0', '6347,0', '2348,0', '3072,0', '12490,0',
       '8020,0', '17068,0', '8943,0', '19272,0', '5577,0', '2691,0',
       '7403,0', '8823,0', '3579,0', '17779,0', '18213,0', '13577,0',
       '19190,0', '17123,0', '19187,0', '10008,0', '7988,0', '7083,0',
       '4723,0', '3407,0', '2929,0', '12031,0', '15427,0', '5126,0',
       '9619,0', '5010,0', '19033,0', '10400,0', '2793,0', '5674,0',
       '19197,0', '8412,0', '3348,0', '5309,0', '7654,0', '12808,0',
       '6586,0', '2519,0', '17099,0', '13120,0', '3131,0', '4444,0',
       '6674,0', '9852,0', '17861,0', '7446,0', '13757,0', '16598,0',
       '4285,0', '10124,0', '9714,0', '9924,0', '11245,0', '3069,0',
       '9241,0', '6472,0', '3055,0', '8321,0', '3143,0', '8578,0',
       '4197,0', '9888,0', '13341,0', '5677,0', '2909,0', '9526,0',
       '6825,0', '4424,0', '5441,0', '6074,0', '6146,0', '6172,0',
       '4668,0', '5605,0', '4319,0', '3564,0', '6261,0', '6804,0',
       '19436,0', '5828,0', '2455,0', '5055,0', '4682,0', '5257,0',
       '2119,0', '5974,0', '3034,0', '13212,0', '8392,0', '4051,0',
       '4805,0', '2741,0', '5337,0', '9434,0', '5396,0', '11159,0',
       '4960,0', '8793,0', '19189,0', '2216,0', '11713,0', '5304,0',
       '11103,0', '6632,0', '7587,0', '4335,0', '5980,0', '4244,0',
       '5228,0', '2700,0', '2366,0', '2329,0', '4294,0', '6725,0',
       '10325,0', '4447,0', '10845,0', '5472,0', '6385,0', '7525,0',
       '3660,0', '8740,0', '13499,0', '3491,0', '5220,0', '10252,0',
       '19740,0', '6209,0', '7094,0', '4534,0', '8500,0', '4639,0',
       '5363,0', '4081,0', '3578,0', '17328,0', '10793,0', '10851,0',
       '10466,0', '2362,0', '6439,0', '5769,0', '4385,0', '4066,0',
       '5206,0', '2655,0', '2570,0', '4502,0', '4968,0', '5147,0',
       '2718,0', '3539,0', '5468,0', '5813,0', '9667,0', '5154,0',
       '5675,0', '7314,0', '5098,0', '13570,0', '6712,0', '9991,0',
       '10248,0', '10938,0', '2593,0', '11878,0', '8095,0', '16856,0',
       '4537,0', '17924,0', '4014,0', '12742,0', '3376,0', '10482,0',
       '4249,0', '6549,0', '14411,0', '19586,0', '8237,0', '3211,0',
       '16704,0', '4774,0', '4568,0', '5993,0', '6499,0', '3452,0',
       '6397,0', '2725,0', '3622,0', '6180,0', '6274,0', '4381,0',
       '2559,0', '5488,0', '2514,0', '3196,0', '3420,0', '4087,0',
       '5368,0', '12936,0', '4221,0', '4963,0', '4200,0', '5006,0',
       '7639,0', '6502,0', '13525,0', '6349,0', '6380,0', '3102,0',
       '4556,0', '4230,0', '4859,0', '6322,0', '10761,0', '2973,0',
       '5204,0', '17399,0', '16885,0', '4323,0', '5155,0', '2936,0',
       '18789,0', '4883,0', '2029,0', '2996,0', '9278,0', '4162,0',
       '8853,0', '4876,0', '2141,0', '7756,0', '3936,0', '6842,0',
       '3989,0', '4930,0', '3702,0', '2705,0', '4448,0', '2379,0',
       '5487,0', '2810,0', '8938,0', '9936,0', '5454,0', '18740,0',
       '5473,0', '13503,0', '13549,0', '18172,0', '2774,0', '9439,0',
       '5265,0', '3815,0', '2389,0', '4000,0', '17584,0', '5661,0',
       '4869,0', '4649,0', '10496,0', '2768,0', '3408,0', '3755,0',
       '2187,0', '4258,0', '5326,0', '5485,0', '2782,0', '17639,0',
       '6062,0', '6288,0', '3424,0', '4194,0', '2532,0', '5666,0',
       '13726,0', '4107,0', '3597,0', '4115,0', '6272,0', '2517,0',
       '3904,0', '9204,0', '4373,0', '2064,0', '2430,0', '4877,0',
       '3760,0', '2013,0', '2974,0', '2766,0', '3377,0', '4213,0',
       '6513,0', '4284,0', '2226,0', '5561,0', '2144,0', '5373,0',
       '2897,0', '5321,0', '5410,0', '4850,0', '2001,0', '4404,0',
       '3944,0', '2960,0', '18947,0', '6465,0', '2683,0', '2014,0',
       '3441,0', '13664,0', '5021,0', '18844,0', '4739,0', '10650,0',
       '4317,0', '2024,0', '3058,0', '3929,0', '4425,0', '2328,0',
       '2657,0', '5940,0', '2622,0', '3212,0', '2911,0', '6931,0',
       '2176,0', '3230,0', '18665,0', '2789,0', '6410,0', '4941,0',
       '3983,0', '2904,0', '2696,0', '2174,0', '6755,0', '10965,0',
       '2543,0', '19406,0', '6538,0', '2258,0', '2218,0', '2654,0',
       '11935,0', '2546,0', '3894,0', '4262,0', '10527,0', '2400,0',
       '3681,0', '3447,0', '19513,0', '2659,0', '8847,0', '2045,0',
       '4851,0', '8120,0', '4577,0', '5405,0', '3708,0', '13770,0',
       '2297,0', '2450,0', '4342,0', '2572,0', '6500,0', '3149,0',
       '5324,0', '4382,0', '2553,0', '5933,0', '4403,0', '10934,0',
       '2022,0', '4256,0', '3580,0', '2899,0', '5562,0', '2377,0',
       '2404,0', '2799,0', '2811,0', '4377,0', '4240,0', '4227,0',
       '3917,0', '4969,0', '2042,0', '2821,0', '9957,0', '2207,0',
       '2070,0', '2791,0', '8224,0', '2610,0', '5731,0', '2539,0',
       '2376,0', '19081,0', '2743,0', '4538,0', '3867,0', '2080,0',
       '2096,0', '4627,0', '2302,0', '5071,0', '10596,0', '5467,0',
       '2394,0', '3629,0', '9362,0', '3229,0', '16422,0', '5647,0',
       '4400,0', '2066,0', '5486,0', '3162,0', '6651,0', '4898,0',
       '3180,0', '11244,0', '4069,0', '6392,0', '4855,0', '3312,0',
       '3117,0', '15202,0', '2580,0', '2166,0', '4374,0', '5505,0',
       '2587,0', '15972,0', '2305,0', '3433,0', '3477,0', '3907,0',
       '3445,0', '2760,0', '6294,0', '13116,0', '3591,0', '2105,0',
       '3902,0', '2662,0', '2062,0', '5507,0', '8103,0', '3978,0',
       '5399,0', '10448,0', '4440,0', '2660,0', '3375,0', '2269,0',
       '4787,0', '2809,0', '10854,0', '2571,0', '6142,0', '2496,0',
       '3419,0', '2501,0', '2566,0', '3920,0', '13964,0', '6540,0',
       '2244,0', '16184,0', '4233,0', '14814,0', '17159,0', '2318,0',
       '3617,0', '2684,0', '19237,0', '4422,0', '2552,0', '2678,0',
       '5171,0', '11916,0', '9380,0', '5878,0', '2468,0', '4127,0',
       '2148,0', '3886,0', '6667,0', '2090,0', '2086,0', '1951,0',
       '3022,0', '9724,0', '3388,0', '3038,0', '2322,0', '2926,0',
       '4505,0', '2835,0', '6553,0', '6673,0', '13591,0', '2177,0',
       '19517,0', '19202,0', '10048,0', '2723,0', '6644,0', '3161,0',
       '1420,0', '1200,0', '5238,0', '9985,0', '15992,0', '2370,0',
       '6781,0', '6653,0', '2851,0', '5258,0', '2476,0', '2285,0',
       '3448,0', '4558,0', '1702,0', '2564,0', '5070,0', '3780,0',
       '9824,0', '1878,0', '2340,0', '2127,0', '2033,0', '9602,0',
       '16627,0', '2083,0', '1009,0', '7861,0', '2642,0', '5121,0',
       '2694,0', '5094,0', '2274,0', '2314,0', '2380,0', '2008,0',
       '10552,0', '2259,0', '2413,0', '2121,0', '2479,0', '13194,0',
       '4163,0', '2600,0', '18303,0', '4777,0', '1052,0', '2461,0',
       '2596,0', '4728,0', '7351,0', '4766,0', '2827,0', '2853,0',
       '2290,0', '2107,0', '2210,0', '13191,0', '18265,0', '1118,0',
       '2372,0', '2838,0', '18061,0', '1611,0', '4768,0', '1274,0',
       '2561,0', '1563,0', '6388,0', '8376,0', '4841,0', '2074,0',
       '2972,0', '6815,0', '2690,0', '17567,0', '1569,0', '4187,0',
       '3306,0', '1393,0', '10883,0', '2862,0', '6735,0', '9756,0',
       '5294,0', '2437,0', '4071,0', '2956,0', '4648,0', '2804,0',
       '2439,0', '2856,0', '2933,0', '1091,0', '5151,0', '2863,0',
       '2858,0', '1129,0', '19431,0'], dtype=object)

In [29]:
datos['monthlyrate'].unique() # no tocar

array([ 6462,  5678,  4933, ..., 15302, 26956, 16642])

In [30]:
datos['numcompaniesworked'].unique() # no tocar

array([7, 0, 1, 3, 2, 4, 8, 9, 5, 6])

In [ ]:
# Función para convertir la coma en punto y los objet a float

columns = ['age', 'attrition', 'businesstravel', 'dailyrate', 'department',
       'distancefromhome', 'education', 'educationfield', 'employeenumber',
       'environmentsatisfaction', 'gender', 'hourlyrate', 'jobinvolvement',
       'joblevel', 'jobrole', 'jobsatisfaction', 'maritalstatus',
       'monthlyincome', 'monthlyrate', 'numcompaniesworked', 'overtime',
       'percentsalaryhike', 'performancerating', 'relationshipsatisfaction',
       'standardhours', 'stockoptionlevel', 'totalworkingyears',
       'trainingtimeslastyear', 'worklifebalance', 'yearsatcompany',
       'yearsincurrentrole', 'yearssincelastpromotion', 'yearswithcurrmanager',
       'datebirth', 'remotework']

performancerating = datos['performancerating'].str.replace(',', '.')

datos['performancerating'] = performancerating
datos['performancerating']

In [32]:
datos.columns

Index(['age', 'attrition', 'businesstravel', 'dailyrate', 'department',
       'distancefromhome', 'education', 'educationfield', 'employeenumber',
       'environmentsatisfaction', 'gender', 'hourlyrate', 'jobinvolvement',
       'joblevel', 'jobrole', 'jobsatisfaction', 'maritalstatus',
       'monthlyincome', 'monthlyrate', 'numcompaniesworked', 'overtime',
       'percentsalaryhike', 'performancerating', 'relationshipsatisfaction',
       'standardhours', 'stockoptionlevel', 'totalworkingyears',
       'trainingtimeslastyear', 'worklifebalance', 'yearsatcompany',
       'yearsincurrentrole', 'yearssincelastpromotion', 'yearswithcurrmanager',
       'datebirth', 'remotework'],
      dtype='object')

In [ ]:
# overtime mirar qué hacer con los nan

datos['overtime'].unique()

array(['No', nan, 'Yes'], dtype=object)

In [ ]:
# overtime mirar qué hacer con los nan

datos['overtime'].unique()

array(['No', nan, 'Yes'], dtype=object)

In [ ]:
datos['percentsalaryhike'].unique()

array([13, 14, 11, 19, 12, 25, 16, 17, 22, 23, 20, 15, 21, 24, 18],
      dtype=int64)

In [ ]:
#mirar que hacer con los nan y convertir a número porque es un objeto por las comas

suma = datos['performancerating'].value_counts()
print(suma)

performancerating = datos['performancerating'].str.replace(',0', '')


datos['performancerating'] = performancerating

datos['performancerating']

performancerating
3    1205
4     214
Name: count, dtype: int64

0         3
1         3
2         3
3         3
4         3
       ...
1609    NaN
1610      3
1611      3
1612    NaN
1613      3
Name: performancerating, Length: 1614, dtype: object

In [ ]:
# No hacemos cambios de momento

datos['relationshipsatisfaction'].unique()

array([3, 1, 4, 2], dtype=int64)

In [ ]:
#borramos standard hours porque no tiene sentido tiene muchos nan y 80h es imposible
datos.drop( columns = ['standardhours'], inplace= True)

In [ ]:
datos.columns

Index(['age', 'attrition', 'businesstravel', 'dailyrate', 'department',
       'distancefromhome', 'education', 'educationfield', 'employeenumber',
       'environmentsatisfaction', 'gender', 'hourlyrate', 'jobinvolvement',
       'joblevel', 'jobrole', 'jobsatisfaction', 'maritalstatus',
       'monthlyincome', 'monthlyrate', 'numcompaniesworked', 'overtime',
       'percentsalaryhike', 'performancerating', 'relationshipsatisfaction',
       'stockoptionlevel', 'totalworkingyears', 'trainingtimeslastyear',
       'worklifebalance', 'yearsatcompany', 'yearsincurrentrole',
       'yearssincelastpromotion', 'yearswithcurrmanager', 'datebirth',
       'remotework'],
      dtype='object')

In [ ]:
# No he hecho nada en esta columna parece estra bien
datos['stockoptionlevel'].unique()

array([0, 1, 2, 3], dtype=int64)

In [ ]:
# En cuanto gestionemos los nan cambiar a INT

datos['totalworkingyears'].unique()

totalworkingyears = datos['totalworkingyears'].str.replace(',0', '')


datos['totalworkingyears'] = totalworkingyears

datos['totalworkingyears']

0       NaN
1        34
2        22
3       NaN
4       NaN
       ...
1609    NaN
1610    NaN
1611      9
1612     12
1613    NaN
Name: totalworkingyears, Length: 1614, dtype: object

In [ ]:
# En cuanto gestionemos los nan cambiar a INT

datos['totalworkingyears'].unique()

array([nan, '34', '22', '28', '20', '21', '33', '40', '18', '25', '15',
       '17', '26', '16', '24', '14', '23', '27', '19', '11', '38', '37',
       '13', '12', '29', '10', '36', '35', '9', '31', '32', '8', '7',
       '30', '6', '5', '4', '3', '2', '1', '0'], dtype=object)

In [ ]:
# trainingtimeslastyear no hacer nada aparentemente toda la información es correcta

datos['trainingtimeslastyear'].unique()

array([5, 3, 2, 0, 1, 4, 6], dtype=int64)

In [ ]:
# Ver qué hacemos con los NaN y convertir a INT

datos['worklifebalance'].unique()

worklifebalance = datos['worklifebalance'].str.replace(',0', '')


datos['worklifebalance'] = worklifebalance

datos['worklifebalance']

0         3
1         3
2       NaN
3       NaN
4         3
       ...
1609      3
1610      2
1611      3
1612      3
1613      3
Name: worklifebalance, Length: 1614, dtype: object

In [ ]:
# todo aparenta estar correcto

datos['yearsatcompany'].unique()

array([20, 33, 22, 19, 21, 18, 24, 31, 26, 16, 23, 15, 17, 32, 14, 13, 25,
       12, 11, 37, 40, 36, 27, 29, 10,  9, 30,  8,  7, 34,  6,  5,  4,  2,
        3,  1,  0], dtype=int64)

In [ ]:
# Ver qué hacemos con los NaN y convertir a INT creo que esta la tendremos que borrar porque no hay casi datos

datos['yearsincurrentrole'].unique()

yearsincurrentrole = datos['yearsincurrentrole'].str.replace(',0', '')


datos['yearsincurrentrole'] = yearsincurrentrole

datos['yearsincurrentrole']

0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
       ...
1609    NaN
1610    NaN
1611    NaN
1612    NaN
1613    NaN
Name: yearsincurrentrole, Length: 1614, dtype: object

In [ ]:
datos['yearssincelastpromotion'].unique()




datos[['yearssincelastpromotion']]

      yearssincelastpromotion
0                          15
1                          11
2                          11
3                           5
4                           2
...                       ...
1609                        3
1610                        0
1611                        0
1612                        0
1613                        0

[1614 rows x 1 columns]

In [ ]:
# no tenemos que tocar nada

datos['yearswithcurrmanager'].unique()

array([15,  9,  6,  8,  7, 11, 10, 12,  4,  0,  5, 17,  2, 14,  1, 13,  3,
       16], dtype=int64)

In [ ]:
# esta ok

datos['datebirth'].unique()

array([1972, 1971, 1981, 1976, 1977, 1975, 1964, 1982, 1967, 1985, 1968,
       1983, 1965, 1988, 1978, 1990, 1987, 1989, 1970, 1980, 1963, 1991,
       1986, 1974, 1984, 1973, 1979, 1993, 1994, 1992, 1969, 1966, 1996,
       1995, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005],
      dtype=int64)

In [ ]:
#Tendremos que ver qué hacemos con los Nan

datos['remotework'].unique()

array(['Yes', '1', 'False', '0', 'True'], dtype=object)

In [ ]:
diccionario_mapa = {'Yes':'Yes', '1':'Yes', 'False':'No', '0':'No', 'True':'Yes'}

datos["remotework"] = datos["remotework"].map(diccionario_mapa)

datos['remotework'].unique()

array(['Yes', 'No'], dtype=object)

In [ ]:
datos.columns

Index(['age', 'attrition', 'businesstravel', 'dailyrate', 'department',
       'distancefromhome', 'education', 'educationfield', 'employeenumber',
       'environmentsatisfaction', 'gender', 'hourlyrate', 'jobinvolvement',
       'joblevel', 'jobrole', 'jobsatisfaction', 'maritalstatus',
       'monthlyincome', 'monthlyrate', 'numcompaniesworked', 'overtime',
       'percentsalaryhike', 'performancerating', 'relationshipsatisfaction',
       'stockoptionlevel', 'totalworkingyears', 'trainingtimeslastyear',
       'worklifebalance', 'yearsatcompany', 'yearsincurrentrole',
       'yearssincelastpromotion', 'yearswithcurrmanager', 'datebirth',
       'remotework'],
      dtype='object')

In [ ]:
datos['percentsalaryhike'].unique()

array([13, 14, 11, 19, 12, 25, 16, 17, 22, 23, 20, 15, 21, 24, 18],
      dtype=int64)

In [ ]:
#mirar que hacer con los nan y convertir a número porque es un objeto por las comas

suma = datos['performancerating'].value_counts()
print(suma)

performancerating = datos['performancerating'].str.replace(',0', '')


datos['performancerating'] = performancerating

datos['performancerating']

performancerating
3    1205
4     214
Name: count, dtype: int64

0         3
1         3
2         3
3         3
4         3
       ...
1609    NaN
1610      3
1611      3
1612    NaN
1613      3
Name: performancerating, Length: 1614, dtype: object

In [ ]:
# No hacemos cambios de momento

datos['relationshipsatisfaction'].unique()

array([3, 1, 4, 2], dtype=int64)

In [ ]:
#borramos standard hours porque no tiene sentido tiene muchos nan y 80h es imposible
datos.drop( columns = ['standardhours'], inplace= True)

In [ ]:
datos.columns

Index(['age', 'attrition', 'businesstravel', 'dailyrate', 'department',
       'distancefromhome', 'education', 'educationfield', 'employeenumber',
       'environmentsatisfaction', 'gender', 'hourlyrate', 'jobinvolvement',
       'joblevel', 'jobrole', 'jobsatisfaction', 'maritalstatus',
       'monthlyincome', 'monthlyrate', 'numcompaniesworked', 'overtime',
       'percentsalaryhike', 'performancerating', 'relationshipsatisfaction',
       'stockoptionlevel', 'totalworkingyears', 'trainingtimeslastyear',
       'worklifebalance', 'yearsatcompany', 'yearsincurrentrole',
       'yearssincelastpromotion', 'yearswithcurrmanager', 'datebirth',
       'remotework'],
      dtype='object')

In [ ]:
# No he hecho nada en esta columna parece estra bien
datos['stockoptionlevel'].unique()

array([0, 1, 2, 3], dtype=int64)

In [ ]:
# En cuanto gestionemos los nan cambiar a INT

datos['totalworkingyears'].unique()

totalworkingyears = datos['totalworkingyears'].str.replace(',0', '')


datos['totalworkingyears'] = totalworkingyears

datos['totalworkingyears']

0       NaN
1        34
2        22
3       NaN
4       NaN
       ...
1609    NaN
1610    NaN
1611      9
1612     12
1613    NaN
Name: totalworkingyears, Length: 1614, dtype: object

In [ ]:
# En cuanto gestionemos los nan cambiar a INT

datos['totalworkingyears'].unique()

array([nan, '34', '22', '28', '20', '21', '33', '40', '18', '25', '15',
       '17', '26', '16', '24', '14', '23', '27', '19', '11', '38', '37',
       '13', '12', '29', '10', '36', '35', '9', '31', '32', '8', '7',
       '30', '6', '5', '4', '3', '2', '1', '0'], dtype=object)

In [ ]:
# trainingtimeslastyear no hacer nada aparentemente toda la información es correcta

datos['trainingtimeslastyear'].unique()

array([5, 3, 2, 0, 1, 4, 6], dtype=int64)

In [ ]:
# Ver qué hacemos con los NaN y convertir a INT

datos['worklifebalance'].unique()

worklifebalance = datos['worklifebalance'].str.replace(',0', '')


datos['worklifebalance'] = worklifebalance

datos['worklifebalance']

0         3
1         3
2       NaN
3       NaN
4         3
       ...
1609      3
1610      2
1611      3
1612      3
1613      3
Name: worklifebalance, Length: 1614, dtype: object

In [ ]:
# todo aparenta estar correcto

datos['yearsatcompany'].unique()

array([20, 33, 22, 19, 21, 18, 24, 31, 26, 16, 23, 15, 17, 32, 14, 13, 25,
       12, 11, 37, 40, 36, 27, 29, 10,  9, 30,  8,  7, 34,  6,  5,  4,  2,
        3,  1,  0], dtype=int64)

In [ ]:
# Ver qué hacemos con los NaN y convertir a INT creo que esta la tendremos que borrar porque no hay casi datos

datos['yearsincurrentrole'].unique()

yearsincurrentrole = datos['yearsincurrentrole'].str.replace(',0', '')


datos['yearsincurrentrole'] = yearsincurrentrole

datos['yearsincurrentrole']

0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
       ...
1609    NaN
1610    NaN
1611    NaN
1612    NaN
1613    NaN
Name: yearsincurrentrole, Length: 1614, dtype: object

In [ ]:
datos['yearssincelastpromotion'].unique()




datos[['yearssincelastpromotion']]

      yearssincelastpromotion
0                          15
1                          11
2                          11
3                           5
4                           2
...                       ...
1609                        3
1610                        0
1611                        0
1612                        0
1613                        0

[1614 rows x 1 columns]

In [ ]:
# no tenemos que tocar nada

datos['yearswithcurrmanager'].unique()

array([15,  9,  6,  8,  7, 11, 10, 12,  4,  0,  5, 17,  2, 14,  1, 13,  3,
       16], dtype=int64)

In [ ]:
# esta ok

datos['datebirth'].unique()

array([1972, 1971, 1981, 1976, 1977, 1975, 1964, 1982, 1967, 1985, 1968,
       1983, 1965, 1988, 1978, 1990, 1987, 1989, 1970, 1980, 1963, 1991,
       1986, 1974, 1984, 1973, 1979, 1993, 1994, 1992, 1969, 1966, 1996,
       1995, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005],
      dtype=int64)

In [ ]:
#Tendremos que ver qué hacemos con los Nan

datos['remotework'].unique()

array(['Yes', '1', 'False', '0', 'True'], dtype=object)

In [ ]:
diccionario_mapa = {'Yes':'Yes', '1':'Yes', 'False':'No', '0':'No', 'True':'Yes'}

datos["remotework"] = datos["remotework"].map(diccionario_mapa)

datos['remotework'].unique()

array(['Yes', 'No'], dtype=object)

In [ ]:
datos.columns

Index(['age', 'attrition', 'businesstravel', 'dailyrate', 'department',
       'distancefromhome', 'education', 'educationfield', 'employeenumber',
       'environmentsatisfaction', 'gender', 'hourlyrate', 'jobinvolvement',
       'joblevel', 'jobrole', 'jobsatisfaction', 'maritalstatus',
       'monthlyincome', 'monthlyrate', 'numcompaniesworked', 'overtime',
       'percentsalaryhike', 'performancerating', 'relationshipsatisfaction',
       'stockoptionlevel', 'totalworkingyears', 'trainingtimeslastyear',
       'worklifebalance', 'yearsatcompany', 'yearsincurrentrole',
       'yearssincelastpromotion', 'yearswithcurrmanager', 'datebirth',
       'remotework'],
      dtype='object')